USE [master]
GO
/****** Object:  Database [Plaid]    Script Date: 4/17/2021 5:37:43 PM ******/
CREATE DATABASE [Plaid]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Plaid', FILENAME = N'D:\SQL_DATA\Plaid.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Plaid_log', FILENAME = N'D:\SQL_LOG\Plaid_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Plaid].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Plaid]
GO
/****** Object:  Table [dbo].[tblInstance]    Script Date: 4/17/2021 5:37:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInstance](
	[ConnectionId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[InstanceId] [nchar](100) NOT NULL,
	[InstanceName] [nchar](200) NOT NULL,
	[PublicToken] [nchar](200) NOT NULL,
	[AccessToken] [nchar](200) NOT NULL,
 CONSTRAINT [PK_tblInstance] PRIMARY KEY CLUSTERED 
(
	[ConnectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 4/17/2021 5:37:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LoginId] [nchar](100) NOT NULL,
	[Password] [nchar](100) NOT NULL,
	[FName] [nchar](200) NOT NULL,
	[LName] [nchar](200) NOT NULL,
 CONSTRAINT [PK_tblUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
